@page "/upload-contents"
@* @attribute [Authorize] *@

<PageTitle>Upload Contents</PageTitle>

<div class="container-fluid p-4">

	<h1 class="display-6 fw-bold mt-3 mb-4 text-center">
		Manage House Featues
	</h1>

	<div class="row text-start">
		@if (IsLoadingFeatureCards)
		{
			<div class="col-md-3">
				<FetchingInformationComponent />
			</div>
		}
		else
		{
			if (FeatureCards.Count > 0)
			{
				foreach (var featureCard in FeatureCards)
				{
					<HouseFeatureFormComponent OnItemChanged="HouseFeatureItemChanged" CardItem="featureCard" />
				}
			}
		}		

		<div class="col-md-3 p-2">
			<div class="d-flex align-items-center justify-content-center bg-light rounded-3 p-4 border-1 border-secondary h-100 shadow-sm" style="border: dashed;">
				<button type="button" @onclick="ShowAddFeatureCardClick" class="btn btn-primary d-inline-flex align-items-center gap-2 px-3 py-2">
					<i class="bi bi-plus-circle-dotted fs-5"></i>
					<span>Add New Item</span>
				</button>
			</div>
		</div>
	</div>
</div>

@*Add House Feature Card Form*@
@if (ShowAddHouseFeatureForm)
{
	<AddHouseFeatureFormComponent OnClose="AddFeatureCardOnClose" />
}

@code {
	[Inject] private IContentManagementService? contentManagementService { get; set; }
	List<FeatureCard> FeatureCards = new List<FeatureCard>();
	bool ShowAddHouseFeatureForm = false;
	private bool IsLoadingFeatureCards = true;

	protected override async Task OnInitializedAsync()
	{
		try
		{
			await FetchDefinedItems("HOUSE_FEATURE_CARDS");

		}
		catch (Exception ex)
		{
			CustomFunctions.WriteConsoleLog("ERROR", $"Exception Occured UploadContentsPage.OnInitializedAsync(): {ex.ToString()}");
		}
	}

	private async Task FetchDefinedItems(string itemName)
	{
		if (contentManagementService != null)
		{
			switch (itemName)
			{
				case "HOUSE_FEATURE_CARDS":
					FeatureCards.Clear();
					var featureCards = await contentManagementService.GetAllFeatureCardInformation();
					if (featureCards != null && featureCards.Count > 0)
					{
						FeatureCards = featureCards;
						IsLoadingFeatureCards = false;
					}
					else
					{
						IsLoadingFeatureCards = false;
					}
					break;
			}
		}
		else
		{
			CustomFunctions.WriteConsoleLog("ERROR", "UploadContentsPage.GetDefinedItems(): contentManagementService is null.");
		}		
	}

	private void ShowAddFeatureCardClick()
	{
		ShowAddHouseFeatureForm = true;
	}

	private async Task AddFeatureCardOnClose()
	{
		ShowAddHouseFeatureForm = false;
		await FetchDefinedItems("HOUSE_FEATURE_CARDS");
	}

	private async Task HouseFeatureItemChanged()
	{		
		await FetchDefinedItems("HOUSE_FEATURE_CARDS");
	}
}
