<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <div class="container mt-5">
                        <div class="alert alert-danger p-2 small border-0">You are not authorized to view this page. Please login.</div>
                        <a href="/admin-login" class="btn btn-primary border-0">Go to Login</a>
                    </div>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="container mt-5">
                    <div class="alert alert-danger p-2 small border-0">Sorry, there's nothing at this address.</div>
                    <a href="/" class="btn btn-primary border-0">Go To Main Page</a>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>